@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(223, 223, 223);
}

.american {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(37, 37, 37, 0.73)
    ),
    url("https://images.unsplash.com/photo-1618219878829-8afd92751bed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YW1lcmljYW4lMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.italian {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(37, 37, 37, 0.73)
    ),
    url("https://images.unsplash.com/photo-1498579150354-977475b7ea0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aXRhbGlhbiUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.chinese {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(37, 37, 37, 0.73)
    ),
    url("https://images.unsplash.com/photo-1525755662778-989d0524087e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2hpbmVzZSUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.indian {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(37, 37, 37, 0.73)
    ),
    url("https://images.unsplash.com/photo-1565557623262-b51c2513a641?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGluZGlhbiUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mex {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(37, 37, 37, 0.73)
    ),
    url("https://images.unsplash.com/photo-1615870216519-2f9fa575fa5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWV4aWNhbiUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.me {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(37, 37, 37, 0.73)
    ),
    url("https://images.unsplash.com/photo-1520252729650-ddced2015543?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWlkZGxlJTIwZWFzdGVybiUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.japanese {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(37, 37, 37, 0.73)
    ),
    url("https://images.unsplash.com/photo-1569718212165-3a8278d5f624?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8amFwYW5lc2UlMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.greek {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(37, 37, 37, 0.73)
    ),
    url("https://media.istockphoto.com/photos/greek-gyros-wraped-in-a-pita-bread-on-a-wooden-background-picture-id959937952?b=1&k=20&m=959937952&s=170667a&w=0&h=pMaRaVGZGr6Syt8MlgAo4aR-K4yRKCaLovoo6ubDYJ0=");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.thai {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(37, 37, 37, 0.73)
    ),
    url("https://images.unsplash.com/photo-1617093727343-374698b1b08d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dGhhaSUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.shadow1{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
